
<div class="dialog">

    <div style="padding-left: 125px;padding-top: 30px;">
        <i class='bx bxs-user-circle' style="font-size: 50px;color: #38297A;" ></i>
    </div>
    <div><br>
        <label class="l1">Atchaya N R</label>
    </div>
    <div><br>
        <label class="l2" style="padding-left:90px ;">Atchaya_atchu</label><br>
        <label class="l2">atchu@gmail.com</label>
    </div><br><br>
    <div style="padding-left: 100px;">
      <a href="/landing" style="text-decoration: none;"> <button class="btn">Logout</button></a> 
    </div>
    
</div>
    