<!-- 
<div class="nav">
    <div class="img">
       <img src="https://d24cdstip7q8pz.cloudfront.net/t/t20160628170229/content/common/images/Kaar%20Logo%20150X150.png" 
       height="50px" width="50px" >
    </div>
  <div class="button">
    <button class="btn"><a href="/home">Home</a></button>
     
   <a href="/home" style="text-decoration: none;"><button class="btn1">
    <i class='bx bx-package' style="font-size: 25px;padding-right: 10px;"></i>View Products</button></a>
 
   <a routerLink="/checkout" routerLinkActive="active" style="text-decoration: none;"><button class="btn2">
    <i class='bx bx-cart-download' style="font-size: 25px;padding-right: 10px;"></i>Check out </button></a>
    
   <button  class="btn3" mat-button (click)="openDialog()"> 
    <i class='bx bxs-user-circle' style="font-size: 25px;padding-right: 10px;" ></i>
    Your Name</button>

    </div>
   
 </div> -->