<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check out</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="main">
        <div class="nav">
           <div class="img">
              <img src="https://d24cdstip7q8pz.cloudfront.net/t/t20160628170229/content/common/images/Kaar%20Logo%20150X150.png" height="50px" width="50px" alt="">
           </div>
         <div class="button">
           <button class="btn"><a href="/home">Home</a></button>
            
          <a href="/home" style="text-decoration: none;"><button class="btn1"><i class='bx bx-package' style="font-size: 25px;padding-right: 10px;"></i>View Products</button></a>
        
          <a href="/checkout" style="text-decoration: none;"><button class="btn2"><i class='bx bx-cart-download' style="font-size: 25px;padding-right: 10px;"></i>Check out </button></a>

          <button  class="btn3" mat-button (click)="openDialog()"> 
            <i class='bx bxs-user-circle' style="font-size: 25px;padding-right: 10px;" ></i>Atchaya N R</button>

        </div>
        
        </div>
   <!-- ---------------------------------------------body------------------------------------------------ -->
        <div class="left-div">
            <h1>Shipping Address</h1><br><br><br>
            <mat-card-content class="padding">
                <input type="First Name" class="form-control" class="input1" 
                placeholder="First Name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="Last name" class="form-control" class="input1" 
                placeholder="Last name"><br><br>
                <input class="input2" placeholder="Company(Optional)"><br><br>
                <input class="input2" placeholder="Flat No, Street Name"><br><br>
                <input class="input1" placeholder="City">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="input1" placeholder="State"><br><br>
                <input class="input1" placeholder="Pincode">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="input1" placeholder="Country"><br><br>
            </mat-card-content><br><br>
            <div class="form-btn">
                <button class="b1">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="b2">Proceed to Payment</button>
            </div>      
        </div>
        
        <div class="cart-div">
            <mat-card class="cart">
            <mat-card-title class="cart-title">Your Cart</mat-card-title>
            <div class="hr1-line">
                <hr class="line1">
             </div>
             <div class="cart-div1">
               <button mat-raised-button color="primary" class="position"
               matBadge="5" matBadgePosition="after" matBadgeColor="primary">
           </button>
                <mat-card class="cart1">
                    <img mat-card-image class="card-img" src="https://www.apple.com/v/iphone-14-pro/a/images/overview/hero/hero_endframe__cvklg0xk3w6e_large.jpg" alt=""><br>    
              
                  </mat-card><br>
                  
             </div>
             <div class="div-title">
               <label class="l1">Iphone 14 Pro Max</label>
               <label class="l2"><i class='bx bx-rupee' style="font-size:25px ;"></i>6,99,500</label>
             </div>
             <div class="hr2-line">
               <hr class="line1">
            </div>
            <div class="div-textfield">
               <input class="text-field" placeholder="Promo code">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button class="text-btn">
                 Apply
            </button>
            </div><br>
            <div>
               <thead>
                  <th class="th1" >Item Subtotal</th>
                 <th class="th2"> <i class='bx bx-rupee' style="font-size:20px ;font-weight: 400;display: inline-flex;"></i>6,99,500</th>
               </thead><br>
               <thead>
                  <th class="th1" >GST (5%)</th>
                 <th class="th2" style="padding-left: 410px;"> <i class='bx bx-rupee' style="font-size:20px ;font-weight: 400;"></i>34,975</th>
               </thead><br> 
               <thead>
                  <th class="th1" >Shipping charge</th>
                 <th class="th2" style="padding-left:375px"> <i class='bx bx-rupee' style="font-size:20px ;font-weight: 400;display: inline-flex;"></i>225</th>
               </thead>
            </div>
            <div class="hr3-line">
               <hr class="line1">
            </div>
            <thead>
               <th class="th3" >Total</th>
              <th class="th3" style="padding-left: 415px;"> <i class='bx bx-rupee' style="font-size:20px ;font-weight: 400;"></i>7,34,700</th>
            </thead>
          </mat-card>
        </div>
      
           </div>
   <!-- --------------------------footer------------------------------------------ -->
           <div class="nav1">
              <div class="footer">
                 <label class="text1">Kaar Technologies</label>
              </div><br>
              <div style="margin-left: -50px;">
                 <img src="assets/sap.PNG" height="98px" width="239px"  alt="">
              </div>
              <div class="footer1-title">
                 <label>Company</label>
              </div>
              <div class="footer1">
                 <li style="list-style-type: none;"> About Kaar Tech</li><br>
                 <li style="list-style-type: none;">Contact Us</li>
              </div>
              <div class="footer2-title">
                 <label>Service</label>
              </div>
              <div class="footer2">
                 <li style="list-style-type: none;"> View Product</li><br>
                 <li style="list-style-type: none;">Check Out</li>
              </div>
              <div class="footer-para">
                 <p style="text-align: center;">“ Kaar Tech is the World’s Best Pure-Play SAP Digital Transformation </p>
                   <p style="text-align: center;">Consulting and Services Partner driven by 1000+ Specialized SAP Consultants</p> 
                    <p style="text-align: center;"> and 5000+ Man-Years of SAP Expertise gained through 2000+ projects for</p>  
                    <p style="text-align: center;">350+ customers across the globe. “</p>
              </div>
              <div class="footer-icon">
                <a href="/checkout" (click)="onEdit()"> <i style="background-color: #FFFFFF;
                 border-radius: 50%;
                 border: 1px solid grey;font-size: 30px;color: #38297A;
                 padding: 10px;" class='bx bx-arrow-to-top'></i></a>
               
              </div>
              
              <div class="hr-line">
                 <hr class="line">
              </div><br>
              <div class="text">
               <label style="font-weight:400;
               font-size:14px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                line-height: 16.41px;
                letter-spacing: 5%;
                color: #FFFFFF;">Copyright © 2022 Kaar Tech, All Rights Reserved 
                 <label style="font-weight:600;
                              font-size:14px;
                               font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                               line-height: 16.41px;
                               letter-spacing: 5%;
                                color: #FFFFFF;">
                    Privacy Policy
                 </label> 
              </label>  
              </div>
              <div class="icons">
                 <i class='bx bxl-linkedin'></i>&nbsp;
                 <i class='bx bxl-facebook' ></i>&nbsp;
                 <i class='bx bxl-instagram' ></i>&nbsp;
                 <i class='bx bxl-twitter' ></i>&nbsp;
                 <i class='bx bxl-youtube' ></i>&nbsp;
              </div>
     
              
             
           </div>
</body>
</html>
